<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Add Multiple Children for $ticket.summary</title>
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="ticket">
      <xi:include href="ticket_box.html" py:with="ticket=ticket;fields=[{'name': 'priority'}]" />
    </div>

    <div id="addMultipleChildren" class="ticket">
      <text>Example:</text>
      <textarea readonly="true" class="trac-resizable" rows="11" cols="91">- 1 Task1
- 2 Task2
- 3 Task3, with estimation 3 (see first word after the '-')
- 5 This is the summary of task 4, with estimation 5
This is the description of taks 4
- 8 This is the summary of task 5
This is the description of task 5

This is the second paragraph of the description of task 5
- 13 Task6</textarea>
      <text>New Subtickets:</text>
      <form method="POST">
	<textarea name="addMultipleChildren" class="trac-resizable" rows="10" cols="91"></textarea>
	<input type="submit"/>
      </form>
    </div>
  </body>
</html>
