<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Add Multiple Children for $ticket.summary</title>
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="ticket">
      <xi:include href="ticket_box.html" py:with="ticket=ticket;fields=[{'name': 'priority'}]" />
    </div>

    <div id="addMultipleChildren" class="ticket">
      Example:
      <textarea readonly="true" class="trac-resizable" rows="11" cols="91">- 8 Task1
- 8 Task2
- 5 Task3, with estimation 5 (see first word after the '-')
- 1 This is the summary of task 4, with estimation 1
This is the description of taks 4
- 13 This is the summary of task 5
This is the description of task 5

This is the second paragraph of the description of task 5
- 2 Task6</textarea>
      New Subtickets:<br/>
      <div py:if="show_split_string_error" id="split_string_error">
	<textarea id="split_string_error_text" readonly="true" rows="$split_string_error_line_count" cols="91">$split_string_error</textarea>
      </div>
      <form method="POST">
	<textarea name="addMultipleChildren" class="trac-resizable" rows="10" cols="91">$split_string</textarea>
	<input type="submit"/>
      </form>
    </div>
  </body>
</html>
