<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Add Multiple Children for $ticket.summary</title>
  </head>

  <body>
    <div id="ctxtnav" class="nav"></div>

    <div id="content" class="ticket">
      <xi:include href="ticket_box.html" py:with="ticket=ticket;fields=[{'name': 'priority'}]" />
    </div>

    <!-- #addMultipleChildren -->
    <div id="addMultipleChildren" class="ticket">
        <!-- row -->
        <div class="row">
            <div class="textarea first">
                <label for="id_example">Example:</label>
                <textarea id="id_example" readonly="true" class="trac-resizable" rows="12" cols="91">- 8 Task1
- 8 Task2
- 5 Task3, with estimation 5 (see first word after the '-')
- 1 This is the summary of task 4, with estimation 1
This is the description of taks 4
-  This is task 5, without an estimate
- 13 This is the summary of task 6
This is the description of task 6

This is the second paragraph of the description of task 6
- 2 Task7
-  This is another task (8) with no estimate</textarea>
            </div>
        </div>
        <!-- /row -->
        <!-- row -->
        <div class="row">
            <div class="textarea first">
                <label for="id_subtickets">New Subtickets:</label>
                <div py:if="show_split_string_error" id="split_string_error">
	               $split_string_error
                </div>
                <form method="POST">
                    <textarea name="addMultipleChildren" class="trac-resizable" rows="10" cols="91">$split_string</textarea>
                    <input type="submit" value="Add subtickets" />
                </form>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /#addMultipleChildren -->
  </body>
</html>
