#addMultipleChildren.ticket {
    width: 58em;
    max-width: 100%;
    margin: 2em auto;
}

#addMultipleChildren.ticket label {
    display: block;
    margin-bottom: 0.5em;
}

#addMultipleChildren.ticket .row {
    margin-bottom: 1.231em;
}

#addMultipleChildren.ticket textarea {
    width: 99%;
}

#addMultipleChildren.ticket pre {
    border: 1px solid #CCC;
    padding: 1em;
    background: #f6f6f6;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

#split_string_error_text {
    background: transparent;
}

#split_string_error {
    background-color: #D00000;
    padding: 0.5em;
    margin: 0.5em 0;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}